<!DOCTYPE html>
<html>
  <head>
    <title>HTML y CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

  	<div class="container page-header-container">
	  	<h1 class="page-title">Publicaciones</h1>
  	</div>

  	<div class="container article-container">
  		<div class="article-container-left">
	  		<img src="https://placeimg.com/480/480/tech" class="article-container-image">
  		</div>

  		<div class="article-container-right">
	  		<p class="article-container-title">Lorem ipsum dolor sit amet</p>
	  		<p class="article-container-subtitle">by Fran Smith</p>
	  		<button class="article-container-button">LABEL 1</button>
	  		<div class="article-container-comments">
	  			<i class="fas fa-comments"></i>
	  			5 comments
	  		</div>
	  	</div>
  	</div>

  	<div class="container article-container">
  		<div class="article-container-left">
	  		<img src="https://placeimg.com/480/480/tech" class="article-container-image">
  		</div>

  		<div class="article-container-right">
	  		<p class="article-container-title">Lorem ipsum dolor sit amet</p>
	  		<p class="article-container-subtitle">by Fran Smith</p>
	  		<button class="article-container-button">LABEL 1</button>
	  		<div class="article-container-comments">
	  			<i class="fas fa-comments"></i>
	  			5 comments
	  		</div>
	  	</div>
  	</div>

  	<div class="container article-container">
  		<div class="article-container-left">
	  		<img src="https://placeimg.com/480/480/tech" class="article-container-image">
  		</div>

  		<div class="article-container-right">
	  		<p class="article-container-title">Lorem ipsum dolor sit amet</p>
	  		<p class="article-container-subtitle">by Fran Smith</p>
	  		<button class="article-container-button">LABEL 1</button>
	  		<div class="article-container-comments">
	  			<i class="fas fa-comments"></i>
	  			5 comments
	  		</div>
	  	</div>
  	</div>

  	<div class="container article-container">
  		<div class="article-container-left">
	  		<img src="https://placeimg.com/480/480/tech" class="article-container-image">
  		</div>

  		<div class="article-container-right">
	  		<p class="article-container-title">Lorem ipsum dolor sit amet</p>
	  		<p class="article-container-subtitle">by Fran Smith</p>
	  		<button class="article-container-button">LABEL 1</button>
	  		<div class="article-container-comments">
	  			<i class="fas fa-comments"></i>
	  			5 comments
	  		</div>
	  	</div>
  	</div>

  	<div class="container article-container">
  		<div class="article-container-left">
	  		<img src="https://placeimg.com/480/480/tech" class="article-container-image">
  		</div>

  		<div class="article-container-right">
	  		<p class="article-container-title">Lorem ipsum dolor sit amet</p>
	  		<p class="article-container-subtitle">by Fran Smith</p>
	  		<button class="article-container-button">LABEL 1</button>
	  		<div class="article-container-comments">
	  			<i class="fas fa-comments"></i>
	  			5 comments
	  		</div>
	  	</div>
  	</div>

  	<div class="container article-container">
  		<div class="article-container-left">
	  		<img src="https://placeimg.com/480/480/tech" class="article-container-image">
  		</div>

  		<div class="article-container-right">
	  		<p class="article-container-title">Lorem ipsum dolor sit amet</p>
	  		<p class="article-container-subtitle">by Fran Smith</p>
	  		<button class="article-container-button">LABEL 1</button>
	  		<div class="article-container-comments">
	  			<i class="fas fa-comments"></i>
	  			5 comments
	  		</div>
	  	</div>
  	</div>

  	<div class="container article-container">
  		<div class="article-container-left">
	  		<img src="https://placeimg.com/480/480/tech" class="article-container-image">
  		</div>

  		<div class="article-container-right">
	  		<p class="article-container-title">Lorem ipsum dolor sit amet</p>
	  		<p class="article-container-subtitle">by Fran Smith</p>
	  		<button class="article-container-button">LABEL 1</button>
	  		<div class="article-container-comments">
	  			<i class="fas fa-comments"></i>
	  			5 comments
	  		</div>
	  	</div>
  	</div>

  </body>
</html>
