* {
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
}

body{  box-sizing: border-box;
}

.product{margin: 4% 0 0 5%;}

.page-header-container {
	font-size: 21px;
	opacity: 0.75;
}

.container{
	margin-left: 10%;
}

.container-left {
	vertical-align: top;
	display: inline-block;
	margin-right: 12px;
}

.container-image {
	max-width: 150px;
	box-shadow: 2px 2px 5px #999;
border-radius: 20px;
transition: transform .2s; 
}

.container-image:hover{
	transform: scale(1.3); 
}

.shoppincart-delete{
position: relative;
left: 50px;
top: 10px;
opacity: 0.5;
color: red;
}

.shoppincart-delete:hover{
	opacity: 1;
	cursor: pointer;

}


.container-right{ 
	display: inline-block;
	padding-right: 40px;

}

.container-right-top{
	width: 800px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	padding:0 7px 8px 40px;
	box-shadow: 3px 3px 5px #999;
margin-bottom: 5%;
}


.container-title {
	max-width: 200px;
    color: #53b5aa;
	font-size: 18px;

}

.container-right-top-subtitle {
	
	color: #AAA;
	padding-right: 80px;
	font-size: 20px;
	margin-bottom:6% 0 0 4% 0;
}


	.quantity-display,.quantity-increment, .quantity-decrement {
		display: block;
		float: left;
	}
	
	.quantity-display {
		background: #fcfcfc;
		font-size: 19px;
		line-height: 50px;
		width: 70px;
		text-align: center;
	}
	
	.quantity-increment, .quantity-decrement {
		background: #fcfcfc;
		border: none;
		font-size: 30px;
		font-weight: 300;
		height: 100%;
		padding: 0 20px;
	}
	
	.quantity-increment:hover, .quantity-decrement:hover {
		background: #53b5aa;
		color: #fff;
		cursor: pointer;
	}
	
	.quantity-increment {
		line-height: 50px;
		margin-right: 40%;
	}
	
	.quantity-decrement {
		line-height: 47px;
	}


	.quantity-price {
		float: right;
		background: #53b5aa;
		box-shadow: 2px 2px 5px #999;
		color: #fff;
		float: right;
		font-size: 22px;
		font-weight: 300;
		line-height: 49px;
		margin: 0;
		padding: 0 30px;
	
	}


	.Sugested-products-title{	
		font-weight: 900;
		position: relative;
		top: 40px;
		left: 90px;
		max-width: 200px;
		color: #53b5aa;
		font-size: 18px;
		}
		
			.Sugested-products-image{
				position: relative;
				top: 44px;
				left: 100px;
				max-width: 220px;
				border-radius: 20px;
				margin: 10px;
				opacity: 0.8;
			box-shadow: 2px 2px 5px #999;
			}
		
			.Sugested-products-image:hover{
				opacity: 1;
			}

			
	.container-order-summary {
		margin: 7% 0 0 0;
		padding: 40px;
	}
	
	.order-summary-total {
		background: #fcfcfc;
		box-shadow: 2px 2px 5px #999;
		border: 1px solid #ccc;
		border-style: none none solid none;
		font-size: 24px;
		font-weight: 300;
		margin: 0 0 7px 0;
		padding: 14px 40px;
		text-align: center;
	}
	
	.order-summary-subtotal{
		font-size: 24px;
		font-weight: 300;
		margin: 10px 0 0 0;
	}
	
	.order-summary-shipping {
		font-size: 19px;
		font-weight: 300;
		margin: 15px 0;
	}
	
	.order-summary-left{
		float: left;
	}
	
	.order-summary-right{
		float: right;
	}
	
	.btn {
		background: #53b5aa;
        border-radius: 20px;
		border-style: none none solid none;
		cursor: pointer;
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		padding: 16px 0;
		width: 290px;
		text-align: center;
	}
	
	.btn:hover {
		color: #fff;
		background: #429188;
	}



	

@media (max-width: 360px) {
*{font-size: 18px;
}

.product{
	position: relative;
	top: 10px;
	left: 3px;
	right: 3px;
}

.container-left {
	margin: 10px 0 20px 0;
}



.container-image {
position: relative;
top: 10px;
left: 50px;}

.container-right-top{
	position: relative;
	top: 5px;
max-width: 198px;
margin: 6px 0 10x 0;
}

.quantity-display,.quantity-increment, .quantity-decrement,	.quantity-price  {
	width: 20px;
	display: block;
	float: left;
}
.quantity-increment{margin-right: 1px;}

.quantity-decrement{margin-left: 7px;}

.quantity-price{
	margin-left: 4px;
	position: relative;
	left: 35px;
	width: 40px;}

.summary-shipping{display: block;}

.Sugested-products-title{	
	left: 100px;
max-width:100px ;}

.Sugested-products-image{
margin: 3px;
max-width: 130px;
left: 7px;}


.container-order-summary{padding: 10px  3px 10px 3px;}

.order-summary-left{float: none;}

.order-summary-right{
	float: none;
	display: block;
}

.order-summary-total{
	max-width: 198px;
	margin: 0;
	height: 30px;
	}

.btn-container{
	max-width: 198px;
	margin-top: 10px;
	display: block;
	}

}